<body class="flex items-center justify-center bg-gradient-to-r from-indigo-200 via-purple-100 to-pink-100  dark:bg-slate-900 dark:bg-none">

  <h1 class="flex font-semibold text-5xl text-gray-800 dark:text-white">
    Welcome <span class="animate-wave">👋🏻</span>, to my Blog
  </h1>
</body>

@layout.app({ title: "Welcome page title" })
  @slot('meta')
    <meta name="description" content="A welcome page made with EdgeJS">
  @endslot
   
@end
